<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="titulo-novidade">CARDÁPIO <img class="img-cardapio" src="img/icon-cafe.png"></h2>
        <div>
            
            <div class="dropdown filtro">
                <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    FILTRO <img src="img/filtro.png">
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">de A a z</a></li>
                    <li><a class="dropdown-item" href="#">de Z a A</a></li>
                    <li><a class="dropdown-item" href="#">Café</a></li>
                    <li><a class="dropdown-item" href="#">Doces</a></li>
                    <li><a class="dropdown-item" href="#">Salgados</a></li>
                </ul>
            </div>




        </div>
    </div>
</div>

<div class="container cardapio">
    <h2 class="titulo-cardapio">Cafés</h2>
        <div class="row">
            <div class="col-xs-12 col-sm-2 cardapio">
                <div class="card item-cardapio">
                <img src="img/cafe.png" class="card-img-top" alt="cafe">
                <div class="card-novidade">
                    <p class="titulo-card-novidade">Card title</p>
                    <p class="texto-novidade">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 cardapio">
                <div class="card item-cardapio">
                <img src="img/cafe.png" class="card-img-top" alt="cafe">
                <div class="card-novidade">
                    <p class="titulo-card-novidade">Card title</p>
                    <p class="texto-novidade">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 cardapio">
                <div class="card item-cardapio">
                <img src="img/cafe.png" class="card-img-top" alt="cafe">
                <div class="card-novidade">
                    <p class="titulo-card-novidade">Card title</p>
                    <p class="texto-novidade">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 cardapio">
                <div class="card item-cardapio">
                <img src="img/cafe.png" class="card-img-top" alt="cafe">
                <div class="card-novidade">
                    <p class="titulo-card-novidade">Card title</p>
                    <p class="texto-novidade">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 cardapio">
                <div class="card item-cardapio">
                <img src="img/cafe.png" class="card-img-top" alt="cafe">
                <div class="card-novidade">
                    <p class="titulo-card-novidade">Card title</p>
                    <p class="texto-novidade">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 cardapio">
                <div class="card item-cardapio">
                <img src="img/cafe.png" class="card-img-top" alt="cafe">
                <div class="card-novidade">
                    <p class="titulo-card-novidade">Card title</p>
                    <p class="texto-novidade">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
    

<div class="container cardapio">
    <h2 class="titulo-cardapio">Doces</h2>
        <div class="row">
            <div class="col-xs-12 col-sm-2 cardapio">
                <div class="card item-cardapio">
                <img src="img/cafe.png" class="card-img-top" alt="cafe">
                <div class="card-novidade">
                    <p class="titulo-card-novidade">Card title</p>
                    <p class="texto-novidade">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 cardapio">
                <div class="card item-cardapio">
                <img src="img/cafe.png" class="card-img-top" alt="cafe">
                <div class="card-novidade">
                    <p class="titulo-card-novidade">Card title</p>
                    <p class="texto-novidade">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 cardapio">
                <div class="card item-cardapio">
                <img src="img/cafe.png" class="card-img-top" alt="cafe">
                <div class="card-novidade">
                    <p class="titulo-card-novidade">Card title</p>
                    <p class="texto-novidade">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 cardapio">
                <div class="card item-cardapio">
                <img src="img/cafe.png" class="card-img-top" alt="cafe">
                <div class="card-novidade">
                    <p class="titulo-card-novidade">Card title</p>
                    <p class="texto-novidade">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 cardapio">
                <div class="card item-cardapio">
                <img src="img/cafe.png" class="card-img-top" alt="cafe">
                <div class="card-novidade">
                    <p class="titulo-card-novidade">Card title</p>
                    <p class="texto-novidade">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 cardapio">
                <div class="card item-cardapio">
                <img src="img/cafe.png" class="card-img-top" alt="cafe">
                <div class="card-novidade">
                    <p class="titulo-card-novidade">Card title</p>
                    <p class="texto-novidade">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container cardapio">
    <h2 class="titulo-cardapio">Salgados</h2>
        <div class="row">
            <div class="col-xs-12 col-sm-2 cardapio">
                <div class="card item-cardapio">
                <img src="img/cafe.png" class="card-img-top" alt="cafe">
                <div class="card-novidade">
                    <p class="titulo-card-novidade">Card title</p>
                    <p class="texto-novidade">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 cardapio">
                <div class="card item-cardapio">
                <img src="img/cafe.png" class="card-img-top" alt="cafe">
                <div class="card-novidade">
                    <p class="titulo-card-novidade">Card title</p>
                    <p class="texto-novidade">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 cardapio">
                <div class="card item-cardapio">
                <img src="img/cafe.png" class="card-img-top" alt="cafe">
                <div class="card-novidade">
                    <p class="titulo-card-novidade">Card title</p>
                    <p class="texto-novidade">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 cardapio">
                <div class="card item-cardapio">
                <img src="img/cafe.png" class="card-img-top" alt="cafe">
                <div class="card-novidade">
                    <p class="titulo-card-novidade">Card title</p>
                    <p class="texto-novidade">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 cardapio">
                <div class="card item-cardapio">
                <img src="img/cafe.png" class="card-img-top" alt="cafe">
                <div class="card-novidade">
                    <p class="titulo-card-novidade">Card title</p>
                    <p class="texto-novidade">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 cardapio">
                <div class="card item-cardapio">
                <img src="img/cafe.png" class="card-img-top" alt="cafe">
                <div class="card-novidade">
                    <p class="titulo-card-novidade">Card title</p>
                    <p class="texto-novidade">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="espaco"></div>
