<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <div class="d-flex flex-column">
            <div class="pb-5 d-flex justify-content-center">
                <div class="explorar py-2 text-center">EXPLORAR</div>    
            </div>
            <div class="mt-3 text-center">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="slogan">
                Independente do seu gosto ou paladar, encontrará um café perfeito para você.
            </div>
        </div>
        
    
    </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="img/banner1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="img/banner2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="img/banner3.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="img/banner4.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container">
    <h2 class="titulo-novidade">NOVIDADES</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-4 novidade">
        <div class="card item-novidade">
          <img src="img/cafe.png" class="card-img-top" alt="cafe">
          <div class="card-novidade">
            <p class="titulo-card-novidade">Card title</p>
            <p class="texto-novidade">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 novidade">
        <div class="card item-novidade">
          <img src="img/cafe.png" class="card-img-top" alt="cafe">
          <div class="card-novidade">
            <p class="titulo-card-novidade">Card title</p>
            <p class="texto-novidade">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 novidade">
        <div class="card item-novidade">
          <img src="img/cafe.png" class="card-img-top" alt="cafe">
          <div class="card-novidade">
            <p class="titulo-card-novidade">Card title</p>
            <p class="texto-novidade">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="historia mb-2">
  <div class="titulo-historia">
    <h5><strong>"BALCK COFFE: UMA JORNADA DE SABOR DESDE 1983"</strong></h5>
  </div>

  <div class="texto-historia">
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo auctor eros ac bibendum. Pellentesque in felis erat. Etiam elit erat, ornare porta nunc et, luctus lobortis nisl. Phasellus metus tortor, egestas ut gravida non, malesuada in lorem. Aliquam vulputate tortor vel feugiat consectetur. Pellentesque tincidunt nulla at sem elementum hendrerit. Pellentesque vulputate lectus non malesuada pretium. Maecenas ligula mauris, laoreet sed lobortis ac, posuere ac nibh. Curabitur eu velit non diam ullamcorper pellentesque. Nunc dolor lacus, dictum non dapibus ac, euismod eget velit. Vestibulum neque lectus, eleifend nec est sit amet, mattis pharetra lacus.
      </p>
      <p>
      Nullam sit amet mi ligula. Quisque porta ac purus ut euismod. Nulla sed justo turpis. Praesent quam dui, lacinia non sodales ut, volutpat in orci. Nulla vestibulum sed massa a commodo. Nam aliquet, orci vel gravida sagittis, mi nibh accumsan dui, eu egestas orci nulla tristique velit. Cras eget metus id erat commodo facilisis a id tellus. Fusce semper varius nisl at pulvinar. Quisque laoreet ornare dictum. Vivamus odio lectus, accumsan eget odio porta, congue ultricies est. Praesent ac vulputate velit, ac commodo augue. Duis elementum felis in nunc lobortis, eu mattis lectus facilisis. Nullam quis odio non tellus commodo vulputate. Duis elementum commodo ipsum. Suspendisse at neque commodo diam sollicitudin pellentesque.
      </p>
      <p>
      Duis vel ipsum et leo mattis facilisis. Donec pharetra, augue non pulvinar fermentum, augue metus facilisis nulla, at ullamcorper lectus metus vel felis. Mauris blandit efficitur nunc, at auctor felis commodo eu. Duis ornare sollicitudin tortor, nec egestas neque vehicula at. Fusce eu ligula bibendum, sodales quam at, tempus enim. Nullam neque odio, vehicula a rhoncus et, pharetra ut neque. Donec at neque id enim sodales posuere at eget turpis. Sed bibendum dignissim ipsum quis laoreet. Fusce sodales leo eu nunc lobortis iaculis. Etiam rutrum hendrerit ullamcorper.
      </p>
      <p>
      Maecenas congue auctor tortor, non blandit sem feugiat volutpat. Aenean id ultrices massa. Mauris lacinia lorem a sapien dapibus, vel dapibus diam pharetra. Ut ut imperdiet elit, ut eleifend nunc. Vestibulum vitae consectetur velit. Donec pulvinar nibh in leo sagittis, non vulputate felis consequat. Vestibulum a tellus vel ante placerat tempus at pellentesque nisl. In lacinia ipsum nibh, eu pulvinar libero pulvinar vel. Quisque tempus gravida metus, nec feugiat nulla tincidunt eget. In hac habitasse platea dictumst. Aenean congue tortor eget elementum pretium. In dolor sem, convallis eu rutrum quis, dapibus sed est. In vestibulum ultrices ipsum, sodales vulputate nibh posuere mattis. Fusce cursus fringilla elit. Nullam at feugiat sem, ac gravida nisi.
      </p>
      <p>
      Nam sem diam, varius vitae porta eu, fermentum id dui. Donec in ipsum sagittis, fringilla turpis non, sodales est. Nunc sit amet dolor nec lacus dapibus sagittis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer interdum cursus tristique. Phasellus sagittis turpis felis. Donec dapibus ullamcorper varius. Cras at tortor vel massa fringilla congue quis vitae mi. Nunc quis nulla non est vehicula venenatis. Aliquam eget quam mattis est tempor auctor sed eu mi. Vivamus metus nisi, volutpat sit amet tellus eget, venenatis varius nunc. Proin orci elit, condimentum nec convallis a, tristique a mauris. Curabitur egestas suscipit pharetra. In semper ornare quam, ut finibus sem maximus a. Nam pretium dui sed felis auctor, non sodales ipsum tincidunt.
      </p>
  </div>
</div>



