body{
    background-color: #111;
    color: #fff;
}

footer{
    background-color: #a18262;
}

footer section{
    width: 100%;
    font-size: 0.6em;
}

footer img{
    width: 15vw;
}

.explorar{
    background-color: #a18262;
    width: 50%;
}

.rede-footer{
    font-size: 1.3em;
}
.slogan{
    font-size: 0.6em;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #fff;
}


.pesquisa-menu{
    border-bottom: #fff solid 1px;
    width: 70%;
    float:left;
}

.parte-nav{
    width: 33%;
}

.search-menu{
    background-color: #111;
    color: #fff;
    border: 0px;
    width: 90%;
}

.historia{
    background-color: #ed9121; /* #cd853f;  */
    width: 100%;
}
.titulo-historia{
    padding: 0 30px;
    padding-top: 20px;
    margin-bottom: 20px;
}

.texto-historia{
    -webkit-column-count:2; /* Chrome, Safari, Opera */
    -moz-column-count:2;    /* Firefox */
    column-count:2;         /* padrão */
    padding: 0 30px;
    padding-bottom: 40px;
}
.texto-historia p{
    font-size: 0.5em;
    text-align: justify;
    padding: 0 10px;
}

.novidade{
    padding: 20px;   
}
.item-novidade{
    background-color: #a18262;
    padding: 10px;
    padding-bottom: 0px;
}

.titulo-novidade{
    margin-left: 10px;
    margin-top: 20px;
    font-size: 2.5em;
}

.card-novidade{
    margin: 5px 0px;
}

.titulo-card-novidade{
    font-size: 0.9em;
    text-decoration: underline;
    margin: 0px;
    padding: 0px;
}

.texto-novidade{
    font-size: 0.5em;
    margin: 0px;
}

.cardapio{
    padding: 5px; 
}
.titulo-cardapio{
    margin-top: 20px;
    font-size: 1.5em;
}

.img-cardapio{
    width: 40px;
    margin-top: -5px;
}


.item-cardapio{
    background-color: #a18262;
    padding: 5px;
    padding-bottom: 0px;
}

.espaco{
    height: 20px;
}

.filtro{
    background-color: #fff;
    color: #000;
    border-radius: 5px;
}

.filtro button{
    background-color: #fff;
    color: #000;
    font-size: 0.6em;
}

.filtro button img{
    width: 20px;
    margin-top: -5px;
}

.filtro ul li a{
    color: #000;
    font-size: 0.5em;
}

.login{
    background-color: #ed9121; /* #cd853f;  */
    width: 100%;
}

.titulo-login{
    padding: 0 30px;
    padding-top: 20px;
    margin-bottom: 20px;
}

.campo-login{
    background-color:#fff;
    width: 300px;
    height: 40px;
    border-radius: 50px;
    padding-left: 15px;
}

.campo-login label{
    font-size:  0.6em;
    font-weight: bold;
    margin-top: -10px;
    width: 96%;
}
.campo-login input{
    font-size:  0.7em;
    width: 96%;
    border: 0px;
}

.form-login {
    font-size: 0.8em;
    color:black;
}

.btn-login{
    width: 300px;
    font-size: 0.8em;
    border-radius: 50px;
    font-weight: bold;
}

.info-login{
    font-size: 0.5em;
    color: #111;
    font-weight: bold;
}

.info-login .alta-login{
    font-size: 1.2em;
}



