body{
    background-color: #111;
    color: #fff;
}

footer{
    background-color: #a18262;
}

footer section{
    width: 100%;
    font-size: 0.6em;
}

footer img{
    width: 15vw;
}

.explorar{
    background-color: #a18262;
    width: 50%;
}

.rede-footer{
    font-size: 1.3em;
}
.slogan{
    font-size: 0.6em;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #fff;
}


.pesquisa-menu{
    border-bottom: #fff solid 1px;
    width: 70%;
    float:left;
}

.parte-nav{
    width: 33%;
}

.search-menu{
    background-color: #111;
    color: #fff;
    border: 0px;
    width: 90%;
}

.historia{
    background-color: #ed9121; /* #cd853f;  */
    width: 100%;
}
.titulo-historia{
    padding: 0 30px;
    padding-top: 20px;
    margin-bottom: 20px;
}

.texto-historia{
    -webkit-column-count:2; /* Chrome, Safari, Opera */
    -moz-column-count:2;    /* Firefox */
    column-count:2;         /* padrão */
    padding: 0 30px;
    padding-bottom: 40px;
}
.texto-historia p{
    font-size: 0.5em;
    text-align: justify;
    padding: 0 10px;
    
}

.novidade{
    padding: 30px;
}
.item-novidade{
    background-color: #a18262;
    padding: 10px;

}